/* styles.css */
.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.description-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; /* Number of lines to display */
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 155px; /* Adjust max-height based on line height */
}
/* Custom styles for select card page */
.list-group-item {
    transition: transform 0.2s ease-in-out;
}
.list-group-item:hover {
    transform: scale(1.02);
    background-color: #f8f9fa;
}
.badge {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}
/* Hover effect for nav-links */
.navbar .nav-link {
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.navbar .nav-link:hover {
    transform: scale(1.1); /* Slightly enlarge the link */
}
.short-card {
    max-width: 600px;
    margin: 0 auto; /* Centers the card */
}